-# locals: (progress:)

%ol.progress-tracker
  %li{ class: class_names(completed: progress.completed?(:rules), active: progress.stage_rules?) }
    .circle
      - if progress.completed?(:rules)
        = check_icon
    .label= t('auth.progress.rules')
  %li.separator{ class: class_names(completed: progress.completed?(:rules)) }
  %li{ class: class_names(completed: progress.completed?(:details), active: progress.stage_details?) }
    .circle
      - if progress.completed?(:details)
        = check_icon
    .label= t('auth.progress.details')
  %li.separator{ class: class_names(completed: progress.completed?(:details)) }
  %li{ class: class_names(completed: progress.completed?(:confirm), active: progress.stage_confirm?) }
    .circle
      - if progress.completed?(:confirm)
        = check_icon
    .label= t('auth.progress.confirm')
  - if approved_registrations?
    %li.separator{ class: class_names(completed: progress.completed?(:confirm)) }
    %li{ class: class_names(completed: progress.completed?(:confirmed), active: progress.stage_confirmed?) }
      .circle
        - if progress.completed?(:confirmed)
          = check_icon
      .label= t('auth.progress.review')
