%h4= t 'appearance.advanced_web_interface'
%p.hint= t 'appearance.advanced_web_interface_hint'
.fields-group
  = form.input :'web.advanced_layout',
               hint: false,
               label: I18n.t('simple_form.labels.defaults.setting_advanced_layout'),
               wrapper: :with_label

%h4= t 'appearance.animations_and_accessibility'
.fields-group
  = form.input :'web.use_pending_items',
               hint: I18n.t('simple_form.hints.defaults.setting_use_pending_items'),
               label: I18n.t('simple_form.labels.defaults.setting_use_pending_items'),
               wrapper: :with_label
.fields-group
  = form.input :'web.auto_play',
               label: I18n.t('simple_form.labels.defaults.setting_auto_play_gif'),
               recommended: true,
               wrapper: :with_label
  = form.input :'web.reduce_motion',
               label: I18n.t('simple_form.labels.defaults.setting_reduce_motion'),
               wrapper: :with_label
  = form.input :'web.disable_swiping',
               label: I18n.t('simple_form.labels.defaults.setting_disable_swiping'),
               wrapper: :with_label
  = form.input :'web.disable_hover_cards',
               label: I18n.t('simple_form.labels.defaults.setting_disable_hover_cards'),
               wrapper: :with_label
  = form.input :'web.use_system_font',
               label: I18n.t('simple_form.labels.defaults.setting_system_font_ui'),
               wrapper: :with_label
  = form.input :'web.use_system_scrollbars',
               hint: I18n.t('simple_form.hints.defaults.setting_system_scrollbars_ui'),
               label: I18n.t('simple_form.labels.defaults.setting_system_scrollbars_ui'),
               wrapper: :with_label

%h4= t 'appearance.discovery'
.fields-group
  = form.input :'web.trends',
               wrapper: :with_label,
               label: I18n.t('simple_form.labels.defaults.setting_trends')

%h4= t 'appearance.confirmation_dialogs'
.fields-group
  = form.input :'web.reblog_modal',
               label: I18n.t('simple_form.labels.defaults.setting_boost_modal'),
               wrapper: :with_label
  = form.input :'web.delete_modal',
               label: I18n.t('simple_form.labels.defaults.setting_delete_modal'),
               wrapper: :with_label
  = form.input :'web.missing_alt_text_modal',
               label: I18n.t('simple_form.labels.defaults.setting_missing_alt_text_modal'),
               wrapper: :with_label

%h4= t 'appearance.sensitive_content'
.fields-group
  = form.input :'web.display_media',
               as: :radio_buttons,
               collection_wrapper_tag: 'ul',
               collection: %w(default show_all hide_all),
               hint: false,
               item_wrapper_tag: 'li',
               label_method: ->(item) { t("simple_form.hints.defaults.setting_display_media_#{item}") },
               label: I18n.t('simple_form.labels.defaults.setting_display_media'),
               wrapper: :with_floating_label
.fields-group
  = form.input :'web.use_blurhash',
               hint: I18n.t('simple_form.hints.defaults.setting_use_blurhash'),
               label: I18n.t('simple_form.labels.defaults.setting_use_blurhash'),
               wrapper: :with_label
.fields-group
  = form.input :'web.expand_content_warnings',
               label: I18n.t('simple_form.labels.defaults.setting_expand_spoilers'),
               wrapper: :with_label
