- content_for :page_title do
  = t('settings.appearance')

- content_for :heading_actions do
  = button_tag t('generic.save_changes'), class: 'button', form: 'edit_user'

= simple_form_for current_user, url: settings_preferences_appearance_path, html: { id: :edit_user } do |f|
  .fields-row
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :locale,
                collection: ui_languages,
                hint: false,
                include_blank: false,
                label_method: ->(locale) { native_locale_name(locale) },
                selected: I18n.locale,
                wrapper: :with_label
    .fields-group.fields-row__column.fields-row__column-6
      = f.input :time_zone,
                collection: ActiveSupport::TimeZone.all.map { |tz| ["(GMT#{tz.formatted_offset}) #{tz.name}", tz.tzinfo.name] },
                hint: false,
                selected: current_user.time_zone || Time.zone.tzinfo.name,
                wrapper: :with_label

  .fields-group
    = f.simple_fields_for :settings, current_user.settings do |fields|
      = fields.input :theme,
                     collection: Themes.instance.names,
                     hint: false,
                     include_blank: false,
                     label_method: ->(theme) { I18n.t("themes.#{theme}", default: theme) },
                     label: I18n.t('simple_form.labels.defaults.setting_theme'),
                     wrapper: :with_label

  - if Mastodon::Feature.modern_emojis_enabled?
    .fields-group
      = f.simple_fields_for :settings, current_user.settings do |fields|
        = fields.input :'web.emoji_style',
                       collection: %w(auto twemoji native),
                       include_blank: false,
                       hint: I18n.t('simple_form.hints.defaults.setting_emoji_style'),
                       label: I18n.t('simple_form.labels.defaults.setting_emoji_style'),
                       label_method: ->(emoji_style) { I18n.t("emoji_styles.#{emoji_style}", default: emoji_style) },
                       wrapper: :with_label

  - unless I18n.locale == :en
    .flash-message.translation-prompt
      #{t 'appearance.localization.body'} #{content_tag(:a, t('appearance.localization.guide_link_text'), href: t('appearance.localization.guide_link'), target: '_blank', rel: 'noopener')}

  = f.simple_fields_for :settings, current_user.settings do |fields|
    = render 'settings_fields', form: fields

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
