- content_for :header_tags do
  = render_initial_state
  = vite_typescript_tag 'public.tsx', crossorigin: 'anonymous'

- content_for :body_classes, 'player'

- if @media_attachment.video?
  = player_component_video(@media_attachment) do
    %video{ controls: 'controls' }
      %source{ src: @media_attachment.file.url(:original) }
- elsif @media_attachment.gifv?
  = player_component_gifv(@media_attachment) do
    %video{ autoplay: 'autoplay', muted: 'muted', loop: 'loop' }
      %source{ src: @media_attachment.file.url(:original) }
- elsif @media_attachment.audio?
  = player_component_audio(@media_attachment) do
    %audio{ controls: 'controls' }
      %source{ src: @media_attachment.file.url(:original) }
